# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.venv/
venv/
ENV/
env/
myenv/
backend/venv/
db.sqlite3
media/
staticfiles/

# Env files
.env
*.env
backend/.env


# Node / Angular
node_modules/
dist/

# macOS
.DS_Store


# Ignore heavy stuff
node_modules/
.dist/
build/
.DS_Store
storage/
.env
*.venv/
.venv/
# allow S3 helper module
!backend/storage/
!backend/storage/s3_utils.py
